.card {
  max-width: 100%;
  background: var(--cpd-color-bg-canvas-default);
  border-radius: 14px;
  border: 2px solid var(--cpd-color-separator-primary);

  .detailsRow {
    border-radius: 14px 14px 0 0;
    display: flex;
    flex-direction: column;
    gap: var(--cpd-space-2x);
    padding: var(--cpd-space-4x);
  }

  .actionsRow {
    border-top: 2px solid var(--cpd-color-separator-primary);
    border-radius: 0 0 14px 14px;
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: var(--cpd-space-2x);
    padding: var(--cpd-space-4x);
    background: var(--cpd-color-bg-subtle-secondary);
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--cpd-space-2x);
  color: var(--cpd-color-text-secondary);
  font: var(--cpd-font-body-md-semibold);

  .link,
  .link:visited {
    color: inherit;
    text-decoration: none;
  }
}

.avatar {
  width: var(--cpd-space-7x);
  height: var(--cpd-space-7x);
  border-radius: 25%;
  color: var(--cpd-color-text-on-solid-primary);
  background: var(--cpd-color-text-badge-info);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  font: var(--cpd-font-body-sm-semibold);
}

.metadataRow {
  gap: var(--cpd-space-2x);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;
}

.metadataText {
  white-space: nowrap;
}

.link,
.link:visited {
  color: var(--cpd-color-text-link-external);
  text-decoration: none;
}

.titleLink {
  font: var(--cpd-font-heading-sm-semibold);
}

.probeStatus {
  display: inline-flex;
  margin-left: auto;
  flex: 0 0 auto;

  align-items: center;
  gap: var(--cpd-space-2x);
}

.actions {
  display: inline-flex;
  flex: 1 1 auto;
  min-width: 0;

  align-items: center;
  gap: var(--cpd-space-2x);
}
