name: matrix-hookshot

services:
  valkey:
    image: valkey/valkey:8.1.1

  element:
    image: vectorim/element-web:develop
    volumes:
      - ./contrib/docker/element/config.json:/app/config.json:ro
    ports:
      - "127.0.0.1:8083:80"

  init-app:
    image: alpine:3
    command: /contrib/init.sh
    volumes:
      - ./contrib/docker/:/contrib:ro
      - hookshot-data:/data
      - synapse-data:/synapse-data

  synapse:
    image: matrixdotorg/synapse:latest
    ports:
      - "127.0.0.1:8008:8008"
    environment:
      - SYNAPSE_CONFIG_DIR=/contrib/synapse
    volumes:
      - ./contrib/docker:/contrib:ro
      - synapse-data:/data
    depends_on:
      init-app:
        condition: service_completed_successfully

  app:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "127.0.0.1:9001:9001"
    volumes:
      - hookshot-data:/data
      - ./contrib/docker/:/contrib:ro
      - ./config.yml:/config/config.yml:ro
    links:
      - valkey
      - synapse
    command: node /bin/matrix-hookshot/App/BridgeApp.js /config/config.yml /contrib/registration.yaml /contrib/config.yaml
    depends_on:
      valkey:
        condition: service_started
      init-app:
        condition: service_completed_successfully
      synapse:
        condition: service_healthy

volumes:
  hookshot-data:
  synapse-data:
