.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    img {
        width: 52px;
        height: 52px;
    }

    h1 {
        margin-left: 10px;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    }
}

.inputField {
    width: 100%;
    margin-bottom: 12px;
    label  {
        position: absolute;
        left: 0;
        margin: -8px 45px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: calc(100% - 20px);
        padding: 0 2px;
        color:  var(--light-color);
        background: #FFF;
    }

    label.nopad {
        position: relative;
        margin: 0;
    }

    input[type="text"] {
        border: 1px solid #E3E8F0;
        box-sizing: border-box;
        border-radius: 8px;
        width: 100%;
        font-size: 14px;
        padding: 8px 12px;
        color:  var(--light-color);
    }
}

.buttonSet {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}