.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    img {
        width: 52px;
        height: 52px;
    }

    @media (prefers-color-scheme: dark) {
        img.invert {
            filter: invert(100%);
        }
    }

    h1 {
        margin-left: 10px;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    }
}