.button {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 2px 10px;
    border-radius: 5px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    min-width: 150px;
    display: block;
    padding: 4px 15px;
    cursor: pointer;
}

.button:disabled {
    background-color:  var(--primary-color-disabled);
}

.remove {
    color: #FF5B55;
    background-color: transparent;

    &:disabled {
        background-color: transparent;
    }
}