.card {
  /* Compound/Light/Background */
  background: #FFFFFF;

  /* Compound/Light/Quinary Content */
  border: 1px solid #E3E8F0;
  box-sizing: border-box;
  border-radius: 8px;

  padding: 32px;
}
