.inputField {
    width: 100%;
    margin-bottom: 12px;
    label  {
        position: absolute;
        left: 0;
        margin: -8px 45px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: calc(100% - 20px);
        padding: 0 2px;
        color:  var(--light-color);
        background: var(--background-color);
    }

    ul > label {
        position: relative;
        left: auto;
        margin: auto;
    }

    label.nopad {
        position: relative;
        margin: 0;
    }

    input[type="text"] {
        border: 1px solid #E3E8F0;
        box-sizing: border-box;
        border-radius: 8px;
        width: 100%;
        font-size: 14px;
        padding: 8px 12px;
        color:  var(--light-color);
    }

    select {
        border: 1px solid #E3E8F0;
        box-sizing: border-box;
        border-radius: 8px;
        width: 100%;
        font-size: 14px;
        background: var(--background-color); 
        padding: 8px 12px;
        color:  var(--light-color);
    }
}
