

:root {
  --background-color: #f2f5f8;
  --foreground-color: #111111;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background-color: #111111;
//     --foreground-color: #f2f5f8;
//   }
// }

#root {
  background-color: var(--background-color);
  color: var(--foreground-color);
  height: 100vh;
  width: 100vw;
  font-family: 'Inter', 'Twemoji', 'Apple Color Emoji', 'Segoe UI Emoji', 'Arial', 'Helvetica', sans-serif, 'Noto Color Emoji';
}
